/TempConverter/build/
/TempConverter/nbproject/private/
/MicrowaveGUI/nbproject/private/
/MicrowaveGUI/build/
/SciCard/nbproject/private/
/SciCard/build/
/JOptionPaneCalculator/nbproject/private/
/JOptionPaneCalculator/build/
/SciForm/nbproject/private/
/SciForm/build/
/PixelCV/nbproject/private/
/PixelCV/build/
/PrefixPostfixCalculator/nbproject/private/
/PrefixPostfixCalculator/build/
